*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.inp_out{
      flex: 1;
      background-color: var(--bg-color-1);
      padding: 20px;
      overflow-y: scroll;
}
.inp_out p{
      font-size: 1rem;
      line-height: 1.875rem;
      color: var(--text-color-1);
      display: flex;
      justify-content: flex-end;
}
.inp_out_exp{
      overflow-x: scroll;
      width: 100%;
      min-height: 30px;
}
.inp_out_exp p{
      white-space: nowrap;
      width: fit-content;
      min-width: 100%;
      font-weight: bold;
}
.inp_out_ans{
      font-weight: bold;
      font-size: 1.3rem !important;
      min-height: 30px;
}